
<style>


        /* Standard CSS Styles for the Table */
    table {
        width: 85%;
        border-collapse: separate;
        border-spacing: 0 10px; /* Adjust the spacing between rows as needed */
        margin-left: 7%;
        margin-top: 3%; 
    }

    th, td {
        padding: 10px;
        text-align: center;
        border: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }


/*     ager code  */
    .large-button {
        display: inline-block;
        padding: 20px 20px; /* Increase padding for a larger button */
        font-size: 15px; /* Increase font size for a larger button */
        text-decoration: none;
        cursor: pointer;
        border: 2px solid #3498db; /* Border color */
        background-color: #3498db; /* Background color */
        color: #fff; /* Text color */
        border-radius: 8px; /* Rounded corners */
        transition: background-color 0.3s, color 0.3s;
        position:relative;
       /*  margin-left:50%;
        margin-bottom:25px; */
    }
</style>

<div>
    <h1>All Employee List</h1>
    <button class="large-button" type="button" onclick="backbutton()">Back</button>
</div>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Sr</th>
            <th scope="col">Employee Name</th>
            <th scope="col">Email</th>
            <th scope="col">Join Date</th>
            <th scope="col">DOB</th>
            <th scope="col">DepID</th>
            <th scope="col">DesgID</th>
            <th scope="col">Salary</th>
            <th scope="col">Status</th>
            <th scope="col">Address</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < ViewBag.employee.Count; i++)
        {
            <tr>
                <td style="text-align:center">@(i+1)</td>
                <td style="text-align:center">@ViewBag.employee[i].empname</td>
                <td style="text-align:center">@ViewBag.employee[i].email</td>
                <td style="text-align:center">@ViewBag.employee[i].dtjoin</td>
                <td style="text-align:center">@ViewBag.employee[i].dtbirth</td>
                <td style="text-align:center">@ViewBag.employee[i].dept_id</td>
                <td style="text-align:center">@ViewBag.employee[i].desig_id</td>
                <td style="text-align:center">@ViewBag.employee[i].salary</td>
                <td style="text-align:center">
                    @if (ViewBag.employee[i].emp_status == true)
                    {
                        <text>Active</text>
                    }
                    else
                    {
                       <text>InActive</text>
                    }
                </td>
                <td style="text-align:center">@ViewBag.employee[i].address</td>
                @* use url link to go edit page , same as employee index page , because some complicated() issues   *@
                <td style="text-align:center">
                   <button>
                        <a style="text-decoration:none ; color:black" href="@Url.Action("Edit","Employee",new {desig_id = @ViewBag.employee[i].desig_id})" class="btn btn-success">Edit</a>
                   </button> 
                    <button type="button" class="btn btn-danger" onclick="deleteClient(@ViewBag.employee[i].desig_id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    function backbutton() 
    {
        window.location.href = '/Hrm/Empdashboard/Dashboard';
    }


    //Deleted work
    function deleteClient(desig_id) {
        //window.location.href = '/Hrm/Employee/Index';
        console.log(desig_id);
        if (confirm("Are you sure you want to delete this entry?")) {
            $.ajax({
                url: '/Hrm/Employee/Delete/' + desig_id,
                type: 'POST', // You can use 'DELETE' if your server supports it
                success: function (result) {
                    // Handle the success case, e.g., remove the deleted image from the table
                   // Swal.close();

                    if (result != null) {
                        window.location.reload();
                    }
                    
                }, 
                error: function () {
                   // swal.fire('Oops...', 'Something went wrong!', 'error');
                }
            });
        }
    }


    //Edited Work
    
</script>
